/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top: 25%;
    left: 38%;
}
.container h1{
    font-family: 'Heebo', sans-serif;
    width: 60%;
    font-size: 40px;
    border-bottom: 5px solid rgb(21, 5, 164);
    margin-bottom: 15px;
    padding: 13px 0px;
    display: inline-block;
}
.box{
    width: 100%;
    border-bottom: 2px solid rgb(21, 5, 164);
    margin: 22px 0px;
}
.box input{
    background: none;
    width: 75%;
    padding: 4px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    
}
.box i{
    width: 25px;
    text-align: center;
    
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid rgb(21, 5, 164);
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
}
.btn:hover{
    background: white;
    color:purple;
}